.coverage
.coveragerc
.gitignore
.gitlab-ci.yml
.pytest_cache
.git
.idea
.pre-commit-config.yaml
.venv
Dockerfile
bin
cdk.out
htmlcov
node_modules
tests
.env*
.dockerignore
docker-compose*
static
cdk
